.node {
  box-sizing: border-box;
  border: solid 1px #999;
  border-radius: 8px;
  min-width: 200px;
  background-color: #555;

  & + .node {
    margin-top: 20px;
  }
}

.title {
  border-bottom: solid 1px #999;
  font-size: 12px;
  line-height: 20px;
  color: #DDD;
  text-align: center;
}

.slots {
  display: flex;
  gap: 12px;
  padding: 12px 0;
  font-size: 14px;
  line-height: 20px;
  color: #DDD;
}

.display {
  flex: 1;
  text-align: center;
}

.in,
.out {
  min-width: 40px;
}
